#!/bin/bash -vx
#
# Hotword service for NoSnips replacement service.
# Usage:
#     hotword.service path/to/nosnips.toml
#
# https://github.com/dbohdan/remarshal is used for reading toml
#

CONFIG=$1

TOML="$(cat $CONFIG | toml2json)"

SITE_ID="$(echo $J | jq '.all.siteId')"

DETECTOR="$(echo $J | jq '.hotword.binary')"
MODEL="$(echo $J | jq '.hotword.model_path')/$(echo $J | jq '.hotword.model')"
SENSITIVITY="$(echo $J | jq '.hotword.sensitivity')"
TIMEOUT="$(echo $J | jq '.hotword.session_timeout')"

while true ; do

  # run Snowboy until hotword is detected
  $DETECTOR $MODEL $SENSITIVITY
